

@{
    ViewBag.Title = "Durée maximale";
    ViewBag.SubTitle = "Parc";
    //ViewBag.SubTitle = "Tableau de bord";
}


@section Menu {
    @Scripts.Render("~/Scripts/Forms/Advanced/menu")
}

@Styles.Render("~/AdminLTE/plugins/daterangepicker/css")
@Styles.Render("~/AdminLTE/plugins/icheck/css")
@Styles.Render("~/AdminLTE/plugins/colorpicker/css")
@Styles.Render("~/AdminLTE/plugins/timepicker/css")
@Styles.Render("~/AdminLTE/plugins/select2/css")
@Styles.Render("~/AdminLTE/dist/css")
@Styles.Render("~/AdminLTE/dist/css/skins")
<style>
    .canvasjs-chart-credit {
        display: none;
    }

    table tr td {
        padding-top: 5px;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

<script type="text/javascript">





    function generateDashboard() {
        var gouvernerat = $('#gouvernerat').val();
        var sdate = $('#startDate').val();
        var edate = $('#endDate').val();
        var dateDeb = document.getElementById('dateDeb');
        dateDeb.innerHTML = sdate;
        var dateFin = document.getElementById('dateFin');
        dateFin.innerHTML = edate;
        var gvr = document.getElementById('gvr');
        gvr.innerHTML = gouvernerat;
        if (sdate > edate) {

        //    alert("La date début doit etre superieur que la date fin");
            $('#myModal2').modal("show");
        };
        $.ajax({
            url: "/DailyParameter/GetData",
            data: {
                gouvernerat: gouvernerat,
                d1: sdate,
                d2: edate
            },
            success: function (result) {
                GetDurationData(result[2].Value);
           //     GetDunutData(result[1].Value);

            },
            error: function () {
               // alert("Vous devez choisir la date debut et date fin ");
                $('#myModal').modal("show");
            }

        });
    }


    function GetDurationData(data) {
        var dps = []; var dps2 = [];
        for (i = 0; i < data.length; i++) {
            dps.push({ x: new Date(parseInt(data[i].date.split('(')[1].split(')')[0])), y: data[i].dureeConnexionParJour })
            //dps2.push({ x: new Date(parseInt(data[i].date.split('(')[1].split(')')[0])), y: data[i].dureeDeconnexionParJour })
        }
        console.log(dps);
        var chart = new CanvasJS.Chart("durchart", {
            animationEnabled: true,
            theme: "light2",
            title: {
                text: "Durées maximales des sessions"
            },
            axisY: {
                includeZero: false,
                text: "Durée",
                labelFormatter: function (seconds) {
                    return CanvasJS.formatDate(seconds.Value,
                        (Math.floor(seconds.value / 3600)) + ":" + ("0" + Math.floor(seconds.value / 60) % 60).slice(-2)
                        + ":" + ("0" + seconds.value % 60).slice(-2));
                }
            },
            data: [{
                type: "line",
                dataPoints: dps
            }]
        });
        chart.render();

    }

     var result = @Html.Raw(ViewBag.DataPoints);
        var dataPoints =[];
        for(var i = 0; i < result.length; i++){
            dataPoints.push({ label: result[i].date, y: result[i].dureeConnexionParJour});
        }
        window.onload = function () {
            //var chart = new CanvasJS.Chart("chartContainer", {
            //    animationEnabled: true,
            //    title: {
            //        text: "Moyenne duree de connexion de cette semaine"
            //    },
            //    axisX: {
            //        valueFormatString: "DD MMM"
            //    },
            //    axisY: {
            //        title: "Duree de connexion",
            //        includeZero: false,
            //        scaleBreaks: {
            //            autoCalculate: true
            //        }

            //    //    valueFormatString: "hh mm ss",
            //    //  labelFormatter: function (e) {
            //    //      return CanvasJS.formatDate(e.value, "hh TT K");
            //    //    }
            //    },
            //    data: [{
            //        type: "line",
            //        xValueFormatString: "DD MMM",
            //        color: "#F08080",
            //        dataPoints: dataPoints
            //    }]
            //});
            //chart.render();

        }

</script>






<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Suivi des durées maximales des sessions des parcs</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <div class="btn-group">


                    </div>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">

                        <form class="form-horizontal">
                            <div class="row">
                                <div class="box-body">
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-2 control-label">Gouvernorat</label>
                                        <div class="col-sm-10">
                                            @Html.DropDownList("gouvernerat", ViewBag.gouvernerat as IEnumerable<SelectListItem>, "Auccun", new { @id = "gouvernerat", style = "width:50%", @class = "form-control select2" })
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-2 control-label">Date début</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="startDate" class="form-control" required style="width:50%" data-inputmask="'alias': 'yyyy/mm/dd'" data-mask>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-2 control-label">Date fin</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="endDate" class="form-control" style="width:50%" data-inputmask="'alias': 'yyyy/mm/dd'" data-mask>
                                        </div>
                                    </div>

                                    <script type="text/javascript">
                                        $('#startDate').datepicker({
                                            controlType: 'select',
                                            oneLine: true,
                                            format: 'yyyy/mm/dd'
                                        });
                                        $('#endDate').datepicker({
                                            controlType: 'select',
                                            oneLine: true,
                                            format: 'yyyy/mm/dd'

                                        });
                                    </script>

                                    <button id="genDash" type="button" value="submit" onclick="generateDashboard();" class="btn btn-info pull-right">Générer</button>


                                </div>


                                @*<div id="chartContainer" style="height: 300px; width: 100%;"></div>*@
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12">
                        <p class="text-center">
                            <strong>Du <span id="dateDeb"></span> jusqu'au <span id="dateFin"></span><br /><span id="gvr"></span></strong>
                        </p>
                        <br /><br />
                        <div class="chart">
                            <div id="durchart" style="height: 300px; width: 100%; float:left;"></div>
                        </div>
                    </div>


                    <div>

                    </div>

                </div>
            </div>

            <br />
            @*<div class="box-footer">
                    <div class="row">
                        <div class="col-sm-3 col-xs-6">
                            <div class="description-block border-right">
                                <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>
                                <h5 class="description-header">$35,210.43</h5>
                                <span class="description-text">TOTAL REVENUE</span>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="description-block border-right">
                                <span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i> 0%</span>
                                <h5 class="description-header">$10,390.90</h5>
                                <span class="description-text">TOTAL COST</span>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="description-block border-right">
                                <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 20%</span>
                                <h5 class="description-header">$24,813.53</h5>
                                <span class="description-text">TOTAL PROFIT</span>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="description-block">
                                <span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 18%</span>
                                <h5 class="description-header">1200</h5>
                                <span class="description-text">GOAL COMPLETIONS</span>
                            </div>
                        </div>
                    </div>
                </div>*@
            <div class="row">
                <div class="col-md-6">
                    <div id="chartContainer"></div>
                </div>
            </div>
            <div class="box-footer">
                @Html.ActionLink("Tableau de bord des parcs", "Dashboard", null, new { @class = "btn btn-info pull-right" })

            </div>
        </div>
    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content panel-warning">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Attention</h4>
            </div>
            <div class="modal-body">
                <p id="error">Vous devez choisir une date début et une date fin</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content panel-warning">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Attention</h4>
            </div>
            <div class="modal-body">
                <p id="error">La date début doit etre supérieure à la date fin</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>

    </div>
</div>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/select2/js")
    @Scripts.Render("~/AdminLTE/plugins/input-mask/js")
    @Scripts.Render("~/AdminLTE/plugins/momentjs/js")
    @Scripts.Render("~/AdminLTE/plugins/daterangepicker/js")
    @Scripts.Render("~/AdminLTE/plugins/colorpicker/js")
    @Scripts.Render("~/AdminLTE/plugins/timepicker/js")
    @Scripts.Render("~/AdminLTE/plugins/icheck/js")
    @Scripts.Render("~/Scripts/Forms/Advanced")
}




