@model Topnet_v1.KPI

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>KPI</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.nomKPI, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.EditorFor(model => model.nomKPI, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nomKPI, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.per, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            <select asp-for="per" class="form -control">
                <option value="">Select per type</option>
                <option value="24">Day</option>
                <option value="168">Week</option>
                <option value="720">Month</option>
                <option value="8544">Year</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Panne", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.DropDownList("panne", ViewBag.panne as SelectList, "Select Panne", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.formuleKPI, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.formuleKPI, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.formuleKPI, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.resultatKPI, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.resultatKPI, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.resultatKPI, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Ajouter" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
